**/raw_data
**/preprocessed_data/2018JunToAug.parquet
**/preprocessed_data/weekendsRemovedInvalids.parquet
**/preprocessed_data/weekdayRemovedInvalids.parquet
**/preprocessed_data/weekendsBasicFilter.parquet
**/preprocessed_data/weekdaysBasicFilter.parquet
**/preprocessed_data/2018JunToAugRemovedInvalids.parquet